header {
    /*background: url("../images/header.jpeg"), lightgray 50% / cover no-repeat; /* o 50% é pra posicionar no centro, o cover é pra imagem se adaptar a tela */
    background-color: lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;  /* preencher largura da tela */
}

.container__header {
    height: 100%;
    min-height: 70vh; /* 70% altura da TELA */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.container__header h2 { /* só pra h2 dentro da tag header */
    color: var(--color-secondary);
    font-size: 12rem;
    font-weight: 900;
    margin-right: 32rem;
}

.container__header p {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    max-width: 64.5rem;
}



@media screen and (max-width: 800px) { /* não coloca ; depois do número */
    header > h2 {
        font-size: 8rem;
    }
}

@media screen and (max-width: 460px) {
    header > h2 {
        font-size: 5rem;
    }
}