nav {
    width: 80%;
    margin: 2rem auto; /* em cima e ebaixo, esquerda e direita */
    display: flex;
    justify-content: space-between;
    max-width: 115rem;
    position: absolute;
    left: 50%; /* o elemento começa em 50% da página */
    transform: translateX(-50%); /* ele volta 50% do espaço, ou seja, centraliza */
}

h1 {
    color: var(--text-primary);
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    height: 5rem;
    text-align: right;
}

.accent {
    color: var(--color-primary);
}

.subtitle {
    display: block;
    margin-top: -0.5rem;
    color: var(--text-primary);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

nav > ul { /* sinal de maior serve pra todos desse elemento dentro de nav */
    display: grid;
    width: 100%;
    list-style: none; /* remover pontos dos tópicos */
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); /* minimo espaçamento 100pixels, maximo 1fr, é tipo flex wrap que bota pra continuar embaixo */
}

a {
    text-decoration: none; /* remover sublinhados de links */
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: 500px;
    margin-left: 3rem;
    text-transform: uppercase;
    transition: color 0.3s linear;
}

a:hover {
    color: var(--color-secondary);
}

.selected {
    color: var(--color-primary);
}