/* ----------------- CAROUSEL ---------------- */

    @keyframes tonext {
        75% {
        left: 0;
        }
        95% {
        left: 100%;
        }
        98% {
        left: 100%;
        }
        99% {
        left: 0;
        }
    }
    
    @keyframes snap { /* pra segurar seção na tela por 4s */
        96% {
        scroll-snap-align: center;
        }
        97% {
        scroll-snap-align: none;
        }
        99% {
        scroll-snap-align: none;
        }
        100% {
        scroll-snap-align: center;
        }
    }
    
    /* * {
        margin: 0;
        padding: 0;
        font-family: var(--font-secondary);
        box-sizing: border-box;
        scrollbar-color: transparent transparent; /* thumb and track color //
        scrollbar-width: 0px;
        list-style: none;
        -webkit-font-smoothing: antialiased;
        list-style: none;
    } pq isso tá comentado????????? */
    
    .carousel__viewport::-webkit-scrollbar {
        width: 0;
    }
    
    .carousel__viewport::-webkit-scrollbar-track {
        background: transparent;
    }
    
    .carousel__viewport::-webkit-scrollbar-thumb {
        background: transparent;
        border: none;
    }
    
    .carousel {
        position: relative;
        padding-top: 60rem;
        perspective: 100px;
        height: 80vh;
        color: #fff;
    }
    
    .carousel__viewport {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-x: scroll; /* coisa mais importante pra fazer os slides, faz seções uma do lado da outra mas faz o overflow ficar aparecendo só com scroll */
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
    
    .carousel__slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
    }
    
    .carousel__slide:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-40%,70px);
        color: #fff;
        font-size: 2em;
    }
    
    .carousel__snapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        scroll-snap-align: center;
    }
    
    @media (hover: hover) {
        .carousel__snapper {
        animation-name: tonext, snap; /* tonext é um nome qualquer, poderia chamar de proximo */
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: 2; /* só executa animação 2 vezes, tem opção infinite tbm */
        }
    }
    
    .carousel:hover .carousel__snapper,
    .carousel:focus-within .carousel__snapper {
        animation-name: none;
    } /* parar animação com hover */
    
    .carousel::before,
    .carousel::after,
    .carousel__prev,
    .carousel__next {
        position: absolute;
        top: 50%;
        width: 8rem;
        height: 8rem;
        transform: translateY(-50%);
        outline: 0;
    }

    .carousel::before,
    .carousel__prev {
        left: 1rem;
    } /* prof tirou mas eu tive que deixar */
    
    .carousel::after,
    .carousel__next {
        right: 1rem;
    }
    
    .carousel::before,
    .carousel::after {
        content: '';
        z-index: 1;
        background-size: 5rem 5rem;
        background-repeat: no-repeat;
        background-position: center center;
        color: #fff;
        pointer-events: none; /* avisar css que nãp é pra interagir com a imagem e sim com o a (link), pode ser usado pra evitar que cliquem com botão direito do mouse em qualquer coisa */
    }
    
    .carousel::before {
        background-image: url("../images/icons/arrow-left.png");
    }
    
    .carousel::after {
        background-image: url("../images/icons/arrow-right.png");
    }

    /* ------------------------------------------ */

    @media screen and (max-width: 800px) { /* não coloca ; depois do número */
        .user-image {
        max-width: 16rem;
        }

        .name {
        font-size: 4rem;
        }

        .quotes {
        font-size: 4rem;
        }

        .text {
        font-size: 1.6rem;
        max-width: 50rem;
        }
    }

    @media screen and (max-width: 500px) {
    .user-image {
        max-width: 14rem;
    }

    .name {
        font-size: 2.4rem;
    }

    .name small {
        font-size: 1rem;
    }

    .quotes {
        font-size: 3rem;
    }

    .text {
        font-size: 1.4rem;
        max-width: 30rem;
    }    

    .carousel__navigation-button {
        width: 1.8rem;
        height: 1.8rem;
    }

    .carousel::before,
    .carousel::after {
        width: 3rem;
        height: 3rem;
    }
    }

/* ------------------------------------------- */

/* ----------------- SLIDER ------------------ */

    .slide__background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .slide__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 50vw;
        display: grid;
        align-items: center;
    }
    .slide__info__date {
        font-size: 1.5rem;
        font-weight: 400;
        padding-right: 2rem;
    }

    .slide__info__title {
        font-size: 8rem;
        font-weight: 700;
        width: 100%;
        max-width: 40rem;
        color: var(--text-primary); /* eu que add */
    }

    .slide__info__accent {
        color: var(--color-secondary);
    }

    .slide__info__button {
        width: 17rem;
        height: 5rem;
        cursor: pointer;

        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-secondary);

        background: none;
        border-radius: 8rem;
        border: solid 0.2rem var(--text-primary);

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 500ms ease;
    }

    .slide__info__button:hover {
        background: var(--color-secondary);
        color: #fff;
    }

    @media screen and (max-width: 1080px) {
        .slide__info__title {
            font-size: 6rem;
        }
    }

    @media screen and (max-width: 800px) {
        .slide__info__title {
            font-size: 4rem;
            max-width: 20rem;
        }
    }

    @media screen and (max-width: 580px) {
        .slide__info {
            padding-left: 30vw;
        }

        .slide__info__title {
            font-size: 2rem;
        }

        .slide__info__button {
            width: 10rem;
            height: 4rem;
            font-size: 1rem;
        }

        .slide__background-image {
            object-position: 40%;
        }
    }

/* ------------------------------------------- */

/* ----------------- COUNTER ------------------ */
    .counter {
        background-color: var(--color-primary);
        color: var(--text-primary);
        margin-top: -2rem;
    }

    .counter_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        padding: 5rem 0;
        text-align: center;
    }

    .counter_container h3 {
        font-size: 3rem;
    }

    .counter_container small {
        display: block;
        font-size: 1rem;
    }

    @media screen and (max-width: 900px) {
        .counter_container {
            gap: 4rem;
        }

        .counter_container h3 {
            font-size: 2.4rem;
        }
    }

    @media screen and (max-width: 500px) {
        .counter_container h3 {
            font-size: 2rem;
        }
    }


/* ------------------------------------------- */

/* -------------- INSTITUTIONAL ------------- */

    .institutional {
        display: grid;
        grid-template-columns: auto auto; /* colunas se ajustarem  na tela automaticamente */
        gap: 4rem;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .institutional_image {
        width: 100%;
        max-width: 55rem;
    }

    .institutional_info {
        width: 100%;
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .institutional_info h6 {
        font-size: 1.4rem;
        font-weight: 300;
    }

    .institutional_info h4  {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .institutional_info p {
        font-size: 1.7rem;
        font-weight: 400;
        max-width: 40rem;
    }

    .institutional_info a {
        width: 17rem;
        height: 5rem;
        transition: all 500ms ease;

        display: flex;
        place-items: center; /* justify items e align items, justify content é texto dentro do a, o justify items é usado no display items (?) */
        justify-content: center;

        border-radius: 8rem;
        border: none;

        background: var(--color-secondary);
        color: var(--text-primary);
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
    }

    .institutional_info a:hover {
        background: var(--text-primary);
        color: var(--color-secondary);
        box-shadow: 0.1rem 0.5rem 1rem #333;
    }

    @media screen and (max-width: 1080px) {
        .institutional_info {
            gap: 2rem;
        }

        .institutional_info h6 {
            font-size: 1rem;
        }

        .institutional_info h4 {
            font-size: 2rem;
        }

        .institutional_info p {
            font-size: 1.2rem;
            max-width: 30rem;
        }

        .institutional_info a {
            font-size: 1.2rem;
            width: 14rem;
            height: 4rem;
        }

    }

    @media screen and (max-width: 840px) {
        .institutional {
            grid-template-columns: 1fr;
            gap: 2rem;
            place-items: center;
        }

        .institutional_image {
            max-width: 30rem;
        }

        .institutional_info {
            max-width: 100%;
            place-items: center;
        }

        .institutional_info h4 {
            text-align: center;
        }

    }

/* ------------------------------------------- */

/* ----------------- QUOTE ------------------ */

.quote {
    background-image: url(../images/home/parallax_img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* parallax */
}

.quote__container {
    display: grid;
    align-items: center;
    justify-items: end;
    min-height: 80vh;
}

.quote__content {
    background: var(--text-primary);
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.quote__content h6 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 35rem;
    letter-spacing: 0.3rem;
}

.quote__content h2 {
    font-size: 8rem;
    font-weight: 700;
    max-width: 60rem;
    width: 100%;
}

.quote__content h2 span {
    display: block;
    color: var(--color-secondary);
}

.quote__content a {
    width: 17rem;
    height: 5rem;
    transition: all 500ms ease;

    display: flex;
    place-items: center; /* justify items e align items, justify content é texto dentro do a, o justify items é usado no display items (?) */
    justify-content: center;

    border-radius: 8rem;
    border: solid 0.2rem #333;

    background: var(--text-primary);
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    
}

   .quote__content a:hover {
        background: var(--color-secondary);
        color: var(--text-primary);
        box-shadow: 0.1rem 0.5rem 1rem #333;
    } 

    @media screen and (max-width: 800px) {
        .quote__content {
            padding: 4rem 2rem;
        }

        .quote__content h6 {
            font-size: 1rem;
            max-width: 25rem;
        }

        .quote__content h2 {
            font-size: 4rem;
        }
    }

    @media screen and (max-width: 400px) {
        .quote__content {
            padding: 2rem 1rem;
        }

        .quote__content h6 {
            font-size: 0.6rem;
            max-width: 15rem;
        }

        .quote__content h2 {
            font-size: 2rem;
        }

        .quote__content a {
            width: 12rem;
            height: 3rem;
            font-size: 1rem;
        }
    }

/* ------------------------------------------- */